@import url("https://fonts.googleapis.com/css?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css?family=Pinyon+Script&display=swap");

$nav-bg: #192e4a;
$primary-white: #f6f6ff;

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: #444;
}

.content-wrapper {
   max-width: 1250px;
   margin: 0 auto;
   background-color: $primary-white;
   height: 100vh;
}

.main-header {
   //  border: 2px solid red;
}

.nav-bar {
   background-color: $nav-bg;
   color: $primary-white;
   height: 95px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.nav-logo {
   margin-bottom: 15px;
}

.m-logo {
   color: $primary-white;
   border: 1px solid $primary-white;
   padding: 10px;
   border-radius: 50%;
}

.nav-menu {
   list-style: none;
   display: flex;
}

.nav-links {
   color: $primary-white;
   text-decoration: none;
}

.li-item + .li-item {
   margin-left: 20px;
}

.marko-title-container {
   width: 100%;
   height: 130px;
   display: flex;
   justify-content: center;
   align-items: center;
   //  border: 2px solid red;
}

.marko-logo {
   //  display: flex;
   //  justify-content: center;
   //  align-items: center;
}

.marko-logo img {
   height: 60px;
   margin-top: 20px;
   //  margin: 0 auto;
   //  border: 2px solid red;
}

.nick-name {
   font-family: "Pinyon Script", cursive;
   font-size: 1.2rem;
   text-align: center;
   margin: 15px 0;
}

.hero {
   height: 268px;
   width: 100%;
   background: no-repeat 90% 50% / cover url("/images/hero.png");
   color: #fffff9;
   position: relative;
   margin-bottom: 25px;
}

.portfolio-text {
   font-family: "Prata", serif;
   font-size: 1.1rem;
   position: absolute;
   bottom: 60px;
   right: 50%;
}

.name {
   font-family: "Pinyon Script", cursive;
   position: absolute;
   bottom: 20px;
   right: 28%;
   font-size: 1.8rem;
   letter-spacing: 1.21px;
}

// ====================================================
//                   MAIN CONTENT
// ====================================================

html {
   scroll-behavior: smooth;
}

.main-content-wrapper {
   background-color: $primary-white;
   display: flex;
   justify-content: center;
   flex-direction: column;
   // border: 2px solid red;
}

#filter-btns-container {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   // border: 2px solid red;
}

.button-filter {
   padding: 10px;
   height: 45px;
   width: 120px;
   margin: 5px;
}

.button-filter:hover {
   background-color: lightblue;
}

.project-potrtfolio-container {
   // container for portfolio cards
   margin-top: 25px;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.project-card {
   //   All portfolio Cards class
   width: 320px;
   margin: 5px 0;
   display: flex;
   justify-content: center;
   flex-direction: column;
}

.game-show {
   // width: 500px;
   border: 2px solid #dadada;
   .card-header {
      height: 55px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $primary-white;
      background-color: $nav-bg;
      // border: 2px solid red;
   }
   .card-image {
      // Wheel of Success Card
      // border: 2px solid red;
      position: relative;
      width: 100%;
      height: 285px;
      background-image: url("../images/gameshow.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
   }
}

.dashboard {
   // width: 500px;
   border: 2px solid #dadada;
   .card-header {
      height: 55px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $primary-white;
      background-color: $nav-bg;
      // border: 2px solid red;
   }
   .card-image {
      // Wheel of Success Card
      // border: 2px solid red;
      width: 100%;
      height: 285px;
      background-image: url("../images/dashboard.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
   }
}

.photogallery {
   // width: 500px;
   border: 2px solid #dadada;
   .card-header {
      height: 55px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $primary-white;
      background-color: $nav-bg;
      // border: 2px solid red;
   }
   .card-image {
      // Wheel of Success Card
      // border: 2px solid red;
      width: 100%;
      height: 285px;
      background-image: url("../images/photogallery.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
   }
}

.employeedirectory {
   // width: 500px;
   border: 2px solid #dadada;
   .card-header {
      height: 55px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $primary-white;
      background-color: $nav-bg;
      // border: 2px solid red;
   }
   .card-image {
      // Wheel of Success Card
      // border: 2px solid red;
      width: 100%;
      height: 285px;
      background-image: url("../images/employee.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
   }
}

.weather {
   // width: 500px;
   border: 2px solid #dadada;
   .card-header {
      height: 55px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $primary-white;
      background-color: $nav-bg;
      // border: 2px solid red;
   }
   .card-image {
      // Wheel of Success Card
      // border: 2px solid red;
      width: 100%;
      height: 285px;
      background-image: url("../images/weather.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
   }
}

.registration {
   // width: 500px;
   border: 2px solid #dadada;
   .card-header {
      height: 55px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $primary-white;
      background-color: $nav-bg;
      // border: 2px solid red;
   }
   .card-image {
      // Wheel of Success Card
      // border: 2px solid red;
      width: 100%;
      height: 285px;
      background-image: url("../images/registration.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
   }
}

.social {
   width: 25px;
   margin: 2px;
}

.social-container {
   width: 230px;
}

#emailModal {
   display: none;
   position: fixed;
   z-index: 1;
   bottom: 0;
}

.contactInfo-container {
   width: 320px;
   margin: 0 auto;
   display: flex;
   align-items: center;
   flex-direction: column;
   border: 2px solid lightgrey;
   padding-bottom: 10px;
}

.contactInfo-container .header {
   width: 100%;
   height: 35px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #15213a;
   // border: 2px solid red;
}

.contactTitle {
   color: $primary-white;
}

#contactInfo {
   font-size: 1rem;
   margin: 10px 0;
}

.info-btn {
   padding: 10px 20px;
}

.skills-container {
   margin: 20px 0;
   display: flex;
   justify-content: space-around;
}

.skills-icons:hover {
   transform: scale(1.4);
}

.html {
   width: 75px;
}

.css {
   width: 53px;
}

.js {
   width: 62px;
}

.react {
   width: 105px;
}

.code,
.demo {
   background-color: #476ec3;
   color: $primary-white;
   padding: 10px 20px;
   text-decoration: none;
   margin-left: 10px;
   margin-bottom: 5px;
}

≈ footer {
   width: 100%;
   height: 75px;
   margin-top: 25px;
   padding: 0 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border: 2px solid #15213a;
}

// ====================================================
//                   MEDIA QUERIES
// ====================================================
@media screen and (min-width: 655px) {
   .project-card {
      width: 400px;
      margin: 5px;
   }

   .contactInfo-container {
      width: 400px;
   }
}

@media screen and (min-width: 768px) {
   .nav-bar {
      flex-direction: row;
      justify-content: space-between;
      padding: 0 20px;
   }

   .nav-links {
      font-size: 1.4rem;
   }

   .m-logo {
      font-size: 1.6rem;
   }

   .marko-title-container {
      height: 160px;
   }

   .marko-logo img {
      height: 70px;
   }

   .nick-name {
      font-size: 1.4rem;
   }

   .name {
      bottom: 40px;
      right: 30%;
      font-size: 3rem;
   }

   .portfolio-text {
      bottom: 120px;
      right: 50%;
      font-size: 1.8rem;
   }

   .project-card {
      width: 500px;
      margin: 5px;
   }

   .social-container {
      width: 250px;
      display: flex;
      justify-content: flex-end;
   }

   .contactInfo-container {
      width: 500px;
   }
}
